<div class="col-md-6">
  <h2 class="text-center">Change User Contact</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input formControlName="firstname" placeholder="First Name" name="firstname" class="form-control" id="firstname">
    </div>

    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input formControlName="lastname" placeholder="Last name" name="lastname" class="form-control" id="lastname">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>
