<div class="usercontact-list">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>TaskName</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usercon of usercontacts">
        <td>{{ usercon.id }}</td>
        <td>{{usercon.date}}</td>
        <td>{{ usercon.taskName }}</td>
        <td>{{ usercon.status }}</td>       
        <td>
          <button class=" btn btn-primary " (click)="editUserContact(usercon) ">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger ml-2 " (click)="deleteUserContact(usercon) ">Delete</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
