<div class="col-md-6">
  <h2 class="text-center">Add To Do Task</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="date">Date:</label>
      <ngx-datepicker formControlName="date" [options]="options"></ngx-datepicker>
          <!-- <material-datepicker formControlName="date"></material-datepicker> -->
    </div> 
    <div class="form-group">
      <label for="taskName">Task Name:</label>
      <input formControlName="taskName" placeholder="Task Name" name="taskName" class="form-control" id="taskName">
      <div class="feedback-red" *ngIf="isInvalid('taskName')">
        Task Name is empty.
      </div>
    </div> 
      <div class="form-group col">
            <label>Status</label>
            <select formControlName="status" class="form-control">
                <option value=""></option>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>               
            </select>
            <div class="feedback-red" *ngIf="isInvalid('status')">
            Status is empty.
            </div>
        </div>
    <button button [disabled]="addForm.invalid" class="btn btn-success">Submit</button>
    <button class="btn btn-danger ml-2 " (click)="onCancel()">Cancel</button>
  </form>
</div>
